*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

body{
  background: white;
  min-height: 100vh;
  font-family: 'Radio Canada', sans-serif;
  display: grid;
  grid-template-areas: "header"
  "cuerpo"
  "footer";
  grid-template-columns: auto;
  grid-template-rows: 12.5vh auto 10vh;
  row-gap: 10px;
  column-gap: 10px;
}

aside{
  display:none;
}

header{
  grid-area: header;
  background-color: beige;
  display: grid;
  grid-template-areas: "logo"
  "nav";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

nav{
  grid-area: nav;
}

div#logoHeader{
  grid-area: logo;
  display: flex;
  justify-content: center;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main{
  grid-area: cuerpo;
  max-width: 100%;
}

.ver:hover{
  transform: scale(1.025);
}

.inicio{
  display: grid;
  grid-template-areas: "nov"
  "dest";
  grid-template-columns: auto;
  grid-template-rows: 40vh auto;
}

div#novedades{
  grid-area: nov;
  width: 100%;
}

div#destacados{
  grid-area: dest;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fit{
  width: 100%;
  height: 100%;
}

.display{
  margin: 15px;
}

footer{
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.border{
  border: 1px solid black;
}

#logoChico{
  width: 100px;
}

.productos{
  display: flex;
  flex-direction: column;
}

.display{
  display: flex;
  
}

.centro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon{
  width: 15px;
}

.contenedor{
  padding: 5%;
}

.card{
  margin:20px;
  width:16rem;
}

.actual{
  transform: translateY(-5px);
  font-style: italic;
}
@media screen and (min-width:768px){
  div#destacados{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .centro{
    flex-direction: row;
  }
  
  .contenedor{
    display: flex;
    height: 55%;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .display{
    margin: 30px;
  }
  
  .productos{
    display: grid;
    grid-template-areas: "categ prod";
    grid-template-columns:  25% auto;
    overflow:auto;
  }
  
  div#categorias{
    grid-area: categ;
    padding: 40px;
  }
  
  div#productos{
    grid-area: prod;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
  }  
}

@media screen and (min-width: 1024px) {
  body{
    grid-template-areas: "header header header header"
    "publicidad1 cuerpo cuerpo publicidad2"
    "footer footer footer footer";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 12.5vh auto 10vh;
  }
  
  .pub1{
    grid-area: publicidad1;
    display: block;
  }
  
  .pub2{
    grid-area: publicidad2;
    display: block;
  }

  header{
    grid-area: header;
    background-color: beige;
    display: grid;
    grid-template-areas: ". logo ."
    ". nav .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  ul{
    justify-content: space-between;
  }

}