@mixin flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin centrar{
    align-items: center;
    justify-content: space-around;
}